.Pathfinding {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
	background-color: #282c34;
	text-align: left;
	color: white;
}
#PathFindVis0 {
	display: flex;
}
.PathFindVis {
	display: none;
	justify-content: center;
	flex-direction: column;
	margin: 1%;
	width: 80%;
	height: 70%;
	background-color: #33373f;
}

.PathFindVisColumnParent {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.PathFindVisColumn {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 125%;
}

.PathFindVisColumnCode {
	align-items: center;
}

.PathFindVisGrid {
	background-color: white;
	width: 90%;
	height: fit-content;
}

.PathFindVisTitle {
	font-size: 200%;
}

.PathFindVisCode {
	width: 95%;
	height: 95%;
	background-color: #18191b;
}

.PathFindVisCanvas {
	height: 100%;
	width: 100%;
}

#PathFindSlider {
	align-self: center;
}

@media (max-width: 500px) {
	.PathFindVisTitle {
		font-size: 150%;
	}
	.PathFindVisColumnParent {
		flex-direction: column;
	}
	.PathFindVisColumn {
		width: 100%;
	}
	.PathFindVisCode {
		align-self: flex-end;
		width: 50%;
		height: 90%;
		background-color: #18191b;
	}
}
