.PEParent {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #1c1c1c;
	color: white;
	align-items: center;
	justify-content: center;
}

#canvas {
	width: 90vh;
	height: 90vh;
	display: block;
	margin: 0 auto;
	background-color: rgb(105, 105, 105);
}
