.SortingAlgorithms {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
}

.SA_Visualizer {
	display: flex;
	align-items: flex-end;
	padding: 5px;
	width: 80%;
	height: 80%;
	border-style: solid;
	border-width: 1px;
}
.SA_VisualizerBlock {
	width: 1px;

	background-color: white;
	color: rgb(51, 51, 51);
	font-size: 5px;
}

.SA_ButtonPanel {
}
