.SortingAlgorithms {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: fit-content;
	background-color: #282c34;
	color: white;
	min-height: 100vh;
}

.SortAlgoVis {
	flex-direction: column;
	margin: 2%;
	width: 70%;
	height: fit-content;
	background-color: #33373f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	padding: 20px;
}

.SortAlgoVisColumn {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.SortAlgoVisTitle {
	align-self: start;
	font-size: 175%;
	margin-bottom: 1.5%;
}

.SortAlgoVisDesc {
	font-size: 125%;
	width: 50%;
	height: 100%;
}

.SortAlgoVisGraph {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	align-items: end;
}

.SortAlgoVisCode {
	font-size: 100%;
	background-color: #18191b;
	height: fit-content;
	width: 50%;
}

.SortAlgoVisGraphBar {
	position: relative;
	/* Define the transition property */
	transition: transform 0.4s;
	text-align: center;
	font-size: 75%;
	width: 30px;
	margin: 1px;
	background-color: rgb(84, 84, 228);
}

.SortAlgoVisGraphBar.swap-start {
	transform: translateX(31px);
}

.SortAlgoVisGraphBar.swap-end {
	transform: translateX(-31px);
}

.SortAlgoVisBottomHalf {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.SortAlgoVisDescTop {
	font-size: 0%;
	width: 0%;
}

@media (max-width: 500px) {
	.SortAlgoVisGraphBar {
		width: 10px;
		font-size: 0px;
	}
	.SortAlgoVis {
		flex-direction: column;
		margin: 1%;
		width: 90%;
		height: fit-content;
		background-color: #33373f;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		padding: 2%;
	}
	.SortAlgoVisCode {
		width: 100%;
		font-size: 90%;
	}
	.SortAlgoVisDesc {
		font-size: 0%;
		width: 0%;
	}
	.SortAlgoVisDescTop {
		font-size: 100%;
		width: 100%;
		height: fit-content;
	}
	.SortAlgoVisGraphBar.swap-start {
		transform: translateX(11px);
	}

	.SortAlgoVisGraphBar.swap-end {
		transform: translateX(-11px);
	}
}
