.v {
	margin: 1%;
	background-color: rgb(47, 47, 47);
	width: 80%;
	height: 50%;
}

.vTitle {
	font-size: 200%;
}

.vColumnContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.vColumn {
	width: 50%;
	height: 100%;
}

.Visualizer {
	background-color: rgb(36, 36, 36);
	width: 95%;
	height: 80%;
	margin: 2%;
}

.ButtonContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.vButton {
	width: 40%;
	height: 100%;
}
